<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: main-head"/>

<body class="bg-light">

<nav th:replace="fragments/navbar :: main-nav"/>

<div class="container col-lg-6 ">
    <form class="form-inline my-2 my-lg-0 float-right" style="padding-bottom : 16px;">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="table-responsive clearfix">
        <table class="table table-hover">
            <thead th:id="PostTable" class="text-center">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>수정/삭제</th>
            </tr>
            </thead>

            <tbody class="text-center">
            <tr th:each="Post:${PostList}" th:id="*{Post.id}">
                <td class="align-middle" th:text="${PostStat.index + 1} + ${PostList.number}*10"></td>
                <td class="align-middle">
                    <a th:href="@{/post/{id}(id=${Post.id})}" th:text="${Post.title}"></a>
                </td>
                <td class="align-middle" th:text="${Post.name}"></td>
                <td class="align-middle" th:text="${Post.writeTime}"></td>
                <td class="text-center align-middle">
                    <a class="btn btn-primary" th:href="@{/post/{id}/revise(id=${Post.id})}">수정</a>
                    <a href="#" th:href="'javascript:deletePost('+${Post.id}+')'"
                       class="btn btn-danger">삭제</a>
                    <!--                    <button id="delete-btn" type="submit" class="btn btn-danger" th:onclick="deletePost([[ ${Post.id} ]]);">삭제</button>-->
                </td>
            </tr>
            </tbody>
        </table>

        <div class="btn_wrap text-right">
            <a th:href="@{/post}" class="btn btn-primary waves-effect waves-light">Write</a>
        </div>

        <!--                th:with="startIdx= ${PostList == null} ? 0 : ${T(Math).floor(PostList?.number/5)}*5+1,-->
        <!--        th:with="startIdx= ${T(Math).floor(PostList.number/5)}*5+1-->
        <div class="text-center ">
            <ul class="pagination" style="justify-content: center;"
                th:with="startIdx= ${PostList.totalPages == 0} ? 0 : ${T(Math).floor(PostList?.number/5)}*5+1,
            lastIdx=(${PostList.totalPages} > ${startIdx}+4) ? ${startIdx}+4 : ${PostList.totalPages}"
            >
                <li th:class="${PostList.first} ? 'disabled'">
                    <a class="page-link" th:href="${PostList.first} ? '#' : @{/(page=${startIdx}-1)}"
                       aria-label="Previous">&laquo;</a>
                </li>

                <li th:style="${PostList.first}">
                    <a class="page-link" th:href="@{/(page=${PostList.number})}">&lsaquo;</a>
                </li>

                <li th:class="(${page} == ${PostList.number}+1)"
                    th:each="page: ${#numbers.sequence(startIdx, lastIdx)}">
                    <a class="page-link" th:text="${page}" th:href="@{/(page=${page})}"></a>
                </li>

                <li th:style="${PostList.last}">
                    <a class="page-link" th:href="@{/(page=${PostList.number}+2)}">&rsaquo;</a>
                </li>

                <li th:class="${PostList.last} ? 'disabled'">
                    <a class="page-link" th:href="${PostList.last} ? '#' : @{/(page=${lastIdx}+1)}"
                       aria-label="Next">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function deletePost(id) {
        if (confirm(id + "번 게시글을 삭제하시겠습니까?")) {
            const action = "/post/" + id + "/delete"
            let form = document.createElement("form");

            form.setAttribute("method", "post");
            form.setAttribute("action", action);
            document.body.appendChild(form);

            form.submit();
        }
    }
</script>

</body>

</html>