<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: main-head"></head>

<body class="bg-light">
<nav th:replace="fragments/navbar :: main-nav"></nav>

<div class="container col-lg-6 ">

    <h2>게시글 작성</h2>
    <div class="card" style="padding: 20px; border-radius: 15px; margin: 20px auto;">
        <form class=" form-horizontal" method="post" th:action="@{/post}" th:object="${postDto}">
            <input type="hidden" th:if="*{id != null and id > 0}" th:field="*{id}"/>

            <div class="form-group">
                <label>제목</label>
                <div class="col-sm-12">
                    <input type="text" style="border-radius: 5px;" class="form-control" th:field="*{title}" placeholder="제목을 입력해 주세요."/>
                </div>
            </div>

            <div class="form-group">
                <label>이름</label>
                <div class="col-sm-12">
                    <input type="text" style="border-radius: 5px;" class="form-control" th:field="*{name}"placeholder="이름을 입력해 주세요."/>
                </div>
            </div>

            <div class="form-group">
                <label>내용</label>
                <div class="col-sm-12">
                    <textarea class="form-control" style="height: 300px; border-radius: 5px;" th:field="*{content}"
                              placeholder="내용을 입력해 주세요."></textarea>
                </div>
            </div>

            <div class="btn_wrap text-center">
                <a th:href="@{/}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
                <button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>